In [2]:
f = open("../resources/3장/name.txt", encoding="utf-8")
data = f.read()
print(data)
f.close()

홍길동
홍이동
홍삼동

In [4]:
f = open("club.txt", "w", encoding="utf-8")

while True:
    name = input("이름 : ")
    if not name:
        break

    f.write(name + "\n")

f.close()

In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.6 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.5 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 3.6 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.5 MB 3.6 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 3.6 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.5 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.5 MB 3.6 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.5 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.6 MB/s eta 0:00:00
Downloading numpy-2.2.0-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/12.6 MB 3.6 MB/s eta 0:00:04
   ------ --------------------------------- 2.1/12.6 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 2.9/12.6 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/12.6 MB 3.6 MB/s eta 0:00:03
   ------------- -------------------------- 4.2/12.6 MB 3.6 MB/s eta 0:00:03
   --------------- ------------------------ 5.0/12.6 MB 3.6 MB/s eta 0:00:03
   ------------------ --------------------- 5.8/12.6 MB 3.6 MB/s eta 0:00:02
   -------------------- ------------------- 6.6/12.6 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 7.3/12.6 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.6 MB 3.6 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 9.4/12.6 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.6 MB 3.6 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 3.6 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.0 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
# 엑셀, CSV => 외부 파일
## 데이터 프레임 (like 엑셀)
import pandas as pd

myFile = pd.read_csv("../resources/3장/my_file.csv")
myFile.head()

   이름  중간  기말  과제   출석  학점  가산점
0  유미  95  87  95  100  A+    2
1  구웅  88  90  90   70   A   10
2  바비  72  83  80   72  B+    5

In [3]:
new_pd = pd.DataFrame([["루비", 80, 80, 75, 90, "B+", 0]])
new_pd

    0   1   2   3   4   5  6
0  루비  80  80  75  90  B+  0

In [4]:
new_pd.to_csv("../resources/3장/my_file.csv", mode="a", header=False, index=False)
myFile = pd.read_csv("../resources/3장/my_file.csv")
myFile

   이름  중간  기말  과제   출석  학점  가산점
0  유미  95  87  95  100  A+    2
1  구웅  88  90  90   70   A   10
2  바비  72  83  80   72  B+    5
3  루비  80  80  75   90  B+    0